[submodule "external/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/openal"]
	path = vendor/openal
	url = https://github.com/kcat/openal-soft.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/pnggroup/libpng
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
